/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Ballpark';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  background-image: url("images/fond_jaune.png");
  font-family: 'Trebuchet MS', Arial, sans-serif;
  color: #181818;
  overflow-x: hidden;
}

#bloc_page {
  width: 900px;
  margin: auto;
}

a:hover, .liens:hover, #this:hover {
  color: #99130B;
  text-decoration: underline;
}

.separateur {
  background-image: url("images/separateur.png");
  background-repeat: repeat-x;
  width:100%;
  height: 3px;
  position: absolute;
  left: 0;
}



header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}

header h1
{
    font-family: 'Ballpark', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'Dayrom', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li {
  font-family: 'Dayrom', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}


#banniere_sanfrancisco {
  width: 950px;
  height: 219px;
  display: flex;
  margin: auto;
  margin-top: 2%;
  background-image: url("images/sanfrancisco.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 2px 3px grey;
  border-radius: 5px;
}
#bandeau {
  width: 950px;
  display: flex;
  margin: auto;
  margin-bottom: 0%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 5px 5px;
}
#us {
  color: white;
  margin: auto;
  margin-left: 1%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: normal;
}
#voir_article {
  height: 29px;
  width: 13%;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  background-image: url("images/rouge.png");
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 0.9em;
  color: white;
  text-decoration: none;
}


section {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
}

article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 1%;;
  width: 62%;
}

#epingle {
  margin-right: 2%;
}

#grand {
  font-family: 'Dayrom';
  display: flex;
  align-items: flex-end;
  text-align: justify;
}

.texte {
  text-align: justify;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: normal;
}
.txt {
  height: 80%;
}

#bulle {
  width: 12px;
  height: 17px;
  display: flex;
  margin-top: 20%;
  margin-right: 0;
}

aside {
  flex: 1.2;
  width: 25%;
  height: 75%;
  margin: auto;
  margin-top: 3%;
  margin-left: 0;
  background-color: #6F6A63;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h5 {
  margin: auto;
  margin-top: 10%;
  margin-left: 7%;
  margin-right: 3%;
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-family: 'Dayrom';
  font-weight: 1000;
}

#zozor_classe {
  display: flex;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 55%;
  height: 55%;
  border: 1px black groove;
  border-radius: 2px;
}

.presentation {
  margin: auto;
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
  color: white;
  font-size: 0.8em;
  font-weight: 1000;
}

#réseaux {
  margin-top: 12%;
  margin-bottom: 5%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.social {
  margin-left: 2%;
  margin-right: 2%;
  width: 95%;
  height: 95%;
}



footer {
  margin: auto;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top {
  margin: auto;
  margin-left: 50%;
  margin-right: 50%;
}

h6 {
  margin: auto;
  margin-top: 7%;
  margin-bottom: 4%;
  font-family: 'Dayrom';
  font-weight: 200;
  font-size: 1.4em;
  text-align: left;
}

#tweet {
  margin: auto;
  width: 33%;
}
#hihan {
  margin-top: 5%;
}

#mes_photos {
  margin: auto;
  margin-top: 2%;
  width: 33%;
}
#photos {
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  margin-right: 2%;
}
.photo {
  margin: auto;
  margin-left: 1%;
  margin-right: 1%;
  border: 2px black solid;
  border-radius: 4px;
  width: 35%;
  height: 35%;
}

#ami_titre {
  margin: auto;
  margin-top: 12%;
  text-align: left;
  margin-left: 10%;
}
#mes_amis {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.listes {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.liste_amis {
  margin-left: 4%;
  text-align: left;
  list-style-image: url("images/ico_liensexterne.png");
}
.ami {
  font-size: 1.03em;
  color: #BB352D;
  text-decoration: none;
}



@media all and (max-width: 1024px)
{
  #banniere_sanfrancisco {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0;
    width: 95%;
    height: 219px;
    }

    #voir_article {
      height: 29px;
      width: 110px;
    }

    #bloc_page {
      width: auto;
    }

    #titre_principal {
      margin-left: 4%;
    }

    nav
    {
        width: auto;
        text-align: left;
        margin-right: 4%;
    }

    nav ul
    {
        justify-content: flex-end;
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }

    a:hover, .liens:hover, #this:hover {
      color: #99130B;
      text-decoration: none;
    }


    section {
      flex-direction:column;
      margin-right: 4%;
    }

    article, aside {
      width: auto;
      margin-bottom: 15px;
    }

    article {
      margin-left: 4%;
    }

    aside {
      margin-left: 4%;
      margin-right: auto;
      text-align: center;
    }

    #bulle {
      display: none;
    }

    #zozor_classe {
      width: 110px;
      float: right;
      margin-left: 20px;
    }

    aside p:last-child
    {
        text-align: center;
    }

    h5 {
      margin-top: 2%;
      margin-bottom: 0;
    }

    .presentation{
      font-size: 0.9em;
    }

    #description {
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
    }

    #réseaux {
      margin-top: auto;
    }

    .social {
      width: 50%;
      height: 50%;
    }

    footer {
      margin-left: auto;
      margin-right: 20%;
      flex-direction: column;
      align-items: center;
    }

    #tweet {
      margin-top: 4%;
      margin-left: 34%;
      width: 100%;
    }
    #hihan {
      margin-top: 1%;
    }
    #tweet h6 {
      margin-bottom: 0;
    }

    #ami_titre {
      margin-left: 7%;
      margin-top: 7%;
      margin-bottom: auto;
    }
    .listes {
      margin-top: auto;
      flex-direction: row;
    }

    #mes_amis {
      width: 100%;
      margin-top: 1%;
      margin-left: 50%;
    }

    #liste_amis {
      margin-left: 17%;
    }
}
